[Unit]
Description=Sunlightcoin's distributed currency daemon
After=network.target

[Service]
User=sunlightcoin
Group=sunlightcoin

Type=forking
PIDFile=/var/lib/sunlightcoind/sunlightcoind.pid
ExecStart=/usr/bin/sunlightcoind -daemon -pid=/var/lib/sunlightcoind/sunlightcoind.pid \
-conf=/etc/sunlightcoin/sunlightcoin.conf -datadir=/var/lib/sunlightcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
